@import url("https://fonts.googleapis.com/css?family=Montserrat");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #121212;
}

.App {
  text-align: center;
  font-family: "Montserrat";
  color: pink;
}

/* HEADER */

#header {
  justify-content: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.7rem;
}

hr {
  border: 0.05rem solid pink;
  margin: 0 auto;
}

h1 {
  font-size: 6vh;
}

.info-button {
  height: 6vh;
  width: 6vh;
  border-radius: 50%;
  border: 2px solid pink;
  font-size: 3.5vh;
  color: pink;
  cursor: pointer;
  transition-duration: 0.3s;
}

.info-button:hover {
  color: #121212;
  background-color: pink;
}

/* INFO BOXES */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  text-align: center;
  position: fixed;
  background: #121212;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid pink;
  padding: 3rem;
}

.modal-main > h2 {
  font-size: 5vh;
}

.modal-main > p {
  border: none;
  color: pink;
  line-height: 1.5;
}

a {
  color: pink;
  transition-duration: 0.3s;
}

a:hover {
  color: white;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

#close-button {
  font-family: "Montserrat";
  font-size: x-large;
  color: pink;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 12px;
  transition-duration: 0.3s;
}

#close-button:hover {
  color: white;
}

#boxes {
  display: block;
}

#boxes > p,
input {
  display: flex;
  align-items: center;
  text-align: left;
  border: 0.8px solid pink;
  width: 55vw;
  height: 2.5rem;
  padding: 1rem;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: pink;
}

button {
  color: white;
}

#start-button,
#submit,
#skip,
#restart-button {
  border: 1.5px solid pink;
  font-size: large;
  padding: 0.5rem;
  color: pink;
  cursor: pointer;
  transition-duration: 0.3s;
}

#start-button:hover,
#submit:hover,
#skip:hover,
#restart-button:hover {
  color: #121212;
  background-color: pink;
}

#player-buttons {
  display: flex;
}

#guess-buttons {
  display: flex;
  justify-content: center;
}

#submit,
#skip {
  margin: 2rem;
}

#submit {
  margin-right: 20%;
}

#skip {
  margin-left: 20%;
}

#submit:disabled,
#skip:disabled {
  border: 2px solid rgb(180, 137, 144);
  font-size: large;
  padding: 0.5rem;
  color: rgb(180, 137, 144);
  margin-top: 5rem;
}

.wrap {
  height: 100%;
  position: relative;
}
.circle {
  border: 2px solid pink;
  border-radius: 50px;
  height: 60px;
  width: 60px;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transition-duration: 0.3s;
  cursor: pointer;
}

.circle:hover {
  border: 4px solid pink;
}
.circle:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 0 15px 30px;
  border-color: transparent transparent transparent pink;
  position: absolute;
  top: 15px;
  left: -12px;
  margin: auto;
}

/* RESULTS PAGE */

#result-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 2vw;
}

#result-page > h2 {
  font-size: 5vh;
  padding: 2rem;
}

#result-page > img {
  width: 40vh;
  height: 40vh;
  object-fit: cover;
  padding: 2rem;
}

#result-page > h3 {
  color: white;
  padding: 0.2rem;
}

#song-title {
  font-size: 4vh;
  font-weight: 900;
}

#song-artist {
  font-size: 3vh;
  font-style: italic;
  font-weight: 100;
}

/* MOBILE  */

@media only screen and (max-width: 500px) {
  #result-page > img {
    width: 60vw;
    height: 60vw;
  }
}
